.taro-lead-next {
	position: relative;

	&-warning {
		position: absolute;
		right: 0;
		bottom: 10px;
		color: #fff;
		padding: 5px;
		line-height: 1;
		margin: 0;
		font-size: 12px;
		background-color: #d63638;

		.rtl & {
			right: auto;
			left: 0;
		}
	}
}
