
.taro-lead-next {

	&-link {
		display: block;
		max-width: 80%;
		margin: 0 auto;
		padding: 1em;
		border: 2px solid currentColor;
		background-color: currentColor;

		@media only screen and (max-width: 450px) {
			max-width: 100%;
		}

	}
	a#{&}-link:link,
	a#{&}-link:visited {
		text-decoration: none;
		background-color: currentColor;
	}

	a#{&}-link:hover,
	a#{&}-link:active {
		background-color: transparent;
		opacity: .8;
		text-decoration: none;
	}

	&-title,
	&-body {
		color: #fff;

		a:hover &,
		a:active & {
			color: currentColor;
		}
	}

	&-title {
		margin: 0 0 1em;
		font-size: 0.8em;
		font-weight: 700;
	}

	&-body {
		margin: 0;
	}
}
